// Здесь буду писать весь CSS

// Обертка для раздела YOUR SUITE TYPE (которая скрывает элементы в виде представления "Cards"
.selectedTableView {
  display: none !important;
}

// Обертка для раздела YOUR SUITE TYPE (которая показывает элементы в виде представления "Table"
.suitesTable {
  display: none;

  &.active {
    display: block;
  }
}

// Скрываем блок "NUMBER OF GUESTS" если выбран тип представления "Table"
.hideSuitesNav {
  display: none;
}

// Стили для header раздела "YOUR SUITE TYPE" 
.suitesSectionHeader {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.suitesSectionHeaderItem {
  display: flex;
  justify-content: space-between;
}

.suiteTypeOptionsTitle {
  color: #343434;
  font-size: 15px;
  font-weight: 400;
  margin-right: 20px;
}

// Стили для блока настройки показа представления раздела "YOUR SUITE TYPE" 
.suiteTypeWrapperButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonViewTypeCards, .buttonViewTypeTable {
  background: #deeef0;
  padding:  8px 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 400;
  color: #004155;

  &.activeTypeView {
    background: #004155;
    color: #FFFFFF;
  }
}

// Стили для блока с таблицей раздела "YOUR SUITE TYPE" 
.suitesTableSection {
  display: flex;
  width: 100%;
}

.suitesTableItem {
  width: 100%;
  max-width: 530px;
}

.suitesTableItemName {
  font-size: 24px;
  font-weight: 500;
  color: #004155;
}

.suitesTableWrapper {
  width: 100%;
  margin-top: 20px;
}

.suitesTable {
  margin-top: 18px;
  &__nameColumn {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #668D99;
  }
  &__columnAnnotation {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #668D99;
  }
  &__contentColumn {
    text-align: center;
  }
  &__price {
    color: #001B23;
    font-size: 15px;
    font-weight: 400;
  }
  &__priceOld {
    color: #8C8C8C;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
  }
  &__type {
    font-size: 15px;
    font-weight: 400;
    color: #001B23;
  }
}

.lastColumn {
  text-align: right;
}

.hotPrice {
  font-size: 15px;
  font-weight: 400;
  color: #EB5757;
}

// Блок в таблице со Слайдером и описанием
.suitesTableItemDescription {
  margin-top: 20px;
}

// Маленький слайдер рядом таблицей
.sliderSuitesDescription {}

