// Здесь буду писать весь CSS

// Обертка для раздела YOUR SUITE TYPE (которая скрывает элементы в виде представления "Cards"
.selectedTableView {
  display: none !important;
}

// Обертка для раздела YOUR SUITE TYPE (которая показывает элементы в виде представления "Table"
.suitesTable {
  display: none;

  &.active {
    display: block;
  }
}

// Скрываем блок "NUMBER OF GUESTS" если выбран тип представления "Table"
.hideSuitesNav {
  display: none;
}

// Стили для header раздела "YOUR SUITE TYPE" 
.suitesSectionHeader {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.suitesSectionHeaderItem {
  display: flex;
  justify-content: space-between;
}

.suiteTypeOptionsTitle {
  color: #343434;
  font-size: 15px;
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 0;
}

// Стили для блока настройки показа представления раздела "YOUR SUITE TYPE" 
.suiteTypeWrapperButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonViewTypeCards, .buttonViewTypeTable {
  background: #deeef0;
  padding:  8px 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 400;
  color: #004155;

  &.activeTypeView {
    background: #004155;
    color: #FFFFFF;
  }
}

// Стили для блока с таблицей раздела "YOUR SUITE TYPE" 
.suitesTableSection {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.suitesTableItem {
  width: 100%;
  max-width: 530px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.suitesTableItemName {
  font-size: 24px;
  font-weight: 500;
  color: #004155;
  width: 100%;
  margin: 0;
}

.suitesTableWrapper {
  width: 100%;
  margin-top: 20px;
}

.suitesTable {
  margin-top: 18px;
  &__nameColumn {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #668D99;
    margin: 0;
    min-width: 170px;
  }
  &__columnAnnotation {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #668D99;
    margin: 0;
  }
  &__contentColumn {
    text-align: center;
  }
  &__price {
    color: #001B23;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
  }
  &__priceOld {
    color: #8C8C8C;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0;
  }
  &__type {
    font-size: 15px;
    font-weight: 400;
    color: #001B23;
  }
}

.iconInfo {
  position: absolute;
  right: 20px;
  top: 0;
}

.iconInfoAdult {
  right: 20px;
}

.lastColumn {
  position: relative;
  text-align: right;

  .iconInfo {
    right: -25px;
  }
}

.hotPrice {
  font-size: 15px;
  font-weight: 400;
  color: #EB5757;
  margin: 0;
}

// Блок в таблице со Слайдером и описанием
.suitesTableItemDescription {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

// Маленький слайдер рядом таблицей
.sliderSuitesDescription {
  position: relative;
  width: 235px;
  height: 178px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: (translate(-50%, -50%));
  bottom: 5px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: white !important;
  opacity: 0.5;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #E9AC60 !important;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
}

span {
    font-size: 40px;    
    position: relative;
    top: -5px;
    color: #EB5757 !important;
    opacity: 0.7;
}

.owl-nav button:focus {
    outline: none;
}

// Для превью в слайдере
.insize{
  max-width:600px;
}
.owl-thumbs{
  display: flex;
  gap: 8px;
}

.owl-thumbs .owl-thumb-item{
  height:150px;
  width: 100%;
  max-width:150px;
  background: transparent;
  border: none;
  overflow: hidden;
}

.owl-thumbs .owl-thumb-item img{
  max-width:100%;
  height:auto;
}

// Блок рядом со слайдером (короткое описание)
.suitesShortDesctiptionItem {
  margin-left: 20px;
  max-width: 250px;
}

.suitesShortDesctiptionItemName {
  margin-top: -10px;
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 500; 
  } 
}

.specifications {
  display: flex;
  gap: 28px;
  margin-top: 0px;
}

.specificationsItem {
  display: flex;
  align-items: center;
}

.specificationsIcon {
  width: auto;
  height: max-content;
}

.specificationsItemOption {
  font-size: 14px;
  font-weight: 500;
  color: #668D99 !important;
  margin-top: 5px;
  margin-left: 4px;
}

.suitesDescriptionText {
  margin-top: 8px;

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #343434;
    margin: 0;
  }
}

.suitesDescriptionTextLink {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #e9ac60;

  &:hover {
    color: #e9ac60;
  }
}

.buttonBook {
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 35px;
  background: #e9ac60;
  border-radius: 24px;
  margin-top: 10px;
}

// Модальное окно подробное описание при клике на "Read more"
#modalSliderSuiteDescription {
  .modal-dialog {
    max-width: 800px !important;
  }
  .modal-header, .modal-footer {
    border: none;
  }
}

.modalSliderSuiteDescriptionBody {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .layout {
    overflow: hidden;
    max-width: 400px;
  }
}

.modalItemSutesDescription {
  max-width: 340px;
  margin-left: 20px;

  .suitesDescriptionTextLink {
    display: none;
  }

  .buttonBook {
    display: none;
  }
}

// Модальное окно Информации
#suiteModalInfo {
  .modal-dialog {
    max-width: 800px !important;
  }
  .modal-header, .modal-footer {
    border: none;
  }
}

.suiteModalInfoModalTitle {
  font-size: 36px;
  font-weight: 500;
  color: #004155;
  display: flex;
  width: 100%;
  justify-content: center;
}

.suiteModalInfoModalTitleModalBody {
  color: #001B23;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px 60px 60px 60px;
}
